.project
/bin
.settings
.classpath
*.iws
*Db.properties
*Db.script
*.class
.settings
eclipse
stacktrace.log
target
target-eclipse
/plugins
/web-app/plugins
/web-app/WEB-INF/classes
target-eclipse/
web-app/images/Thumbs.db
.DS_Store
