/*pubcup v0.4*/
/*reset*/
html,body,div,span,h1,h2,h3,h4,h5,h6,p,blockquote,a,address,em,img,strong,b,dl,dt,dd,ol,ul,li,fieldset,form,label,legend,table,caption,tbody,tfoot,thead,tr,th,td{margin:0;padding:0;font-size:100%;font-family:inherit;font-weight:normal;border:0;}
body {font:75%/1.2 arial,sans-serif;color:#888;}
strong,b{font-weight:bold;}
ol, ul, nav {list-style:none;}
blockquote, q {quotes:none;}
table {border-collapse:separate;border-spacing:0;}
address{font-style:normal;}
a {text-decoration:none;color:#0af;}
a:hover {text-decoration:underline;}
p {line-height:1.5;margin-bottom:5px;}
input, textarea {font:normal 1em/1.2 arial,sans-serif;color:#888;border:1px solid #ccc;padding:5px;border-radius:2px;}
.hide {display:none;}

/*bts*/
.bt-cinza {
	backgbackground: #f6f8f9;
	background: -moz-linear-gradient(top, #f6f8f9 0%, #e5ebee 50%, #d7dee3 51%, #f5f7f9 100%);
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#f6f8f9), color-stop(50%,#e5ebee), color-stop(51%,#d7dee3), color-stop(100%,#f5f7f9));
	background: -webkit-linear-gradient(top, #f6f8f9 0%,#e5ebee 50%,#d7dee3 51%,#f5f7f9 100%);
	background: -o-linear-gradient(top, #f6f8f9 0%,#e5ebee 50%,#d7dee3 51%,#f5f7f9 100%);
	background: -ms-linear-gradient(top, #f6f8f9 0%,#e5ebee 50%,#d7dee3 51%,#f5f7f9 100%);
	background: linear-gradient(to bottom, #f6f8f9 0%,#e5ebee 50%,#d7dee3 51%,#f5f7f9 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f6f8f9', endColorstr='#f5f7f9',GradientType=0 );r: progid:DXImageTransform.Microsoft.gradient( startColorstr='#e2e2e2', endColorstr='#fefefe',GradientType=0 );
	color: #333;padding: 6px 10px;border-radius: 5px;font-weight: bold;text-shadow: 1px 1px 1px #fff;
}

.bt-laranja,#updateButton,.add-event .bt,.create-event .bt,.regist-pub .bt {
	background: #ffb76b;
	background: -moz-linear-gradient(top, #ffb76b 0%, #ffa73d 50%, #ff7c00 51%, #ff7f04 100%);
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#ffb76b), color-stop(50%,#ffa73d), color-stop(51%,#ff7c00), color-stop(100%,#ff7f04));
	background: -webkit-linear-gradient(top, #ffb76b 0%,#ffa73d 50%,#ff7c00 51%,#ff7f04 100%);
	background: -o-linear-gradient(top, #ffb76b 0%,#ffa73d 50%,#ff7c00 51%,#ff7f04 100%);
	background: -ms-linear-gradient(top, #ffb76b 0%,#ffa73d 50%,#ff7c00 51%,#ff7f04 100%);
	background: linear-gradient(to bottom, #ffb76b 0%,#ffa73d 50%,#ff7c00 51%,#ff7f04 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffb76b', endColorstr='#ff7f04',GradientType=0 );
	color: #000;padding: 6px 10px;border-radius: 5px;font-weight: bold;text-shadow: 1px 1px 1px #f2f2f2;
}

.bt-azul {
	bacbackground: #69c8ea;
	background: -moz-linear-gradient(top, #69c8ea 0%, #4ec5ed 50%, #21b4e2 51%, #60c5ea 100%);
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#69c8ea), color-stop(50%,#4ec5ed), color-stop(51%,#21b4e2), color-stop(100%,#60c5ea));
	background: -webkit-linear-gradient(top, #69c8ea 0%,#4ec5ed 50%,#21b4e2 51%,#60c5ea 100%);
	background: -o-linear-gradient(top, #69c8ea 0%,#4ec5ed 50%,#21b4e2 51%,#60c5ea 100%);
	background: -ms-linear-gradient(top, #69c8ea 0%,#4ec5ed 50%,#21b4e2 51%,#60c5ea 100%);
	background: linear-gradient(to bottom, #69c8ea 0%,#4ec5ed 50%,#21b4e2 51%,#60c5ea 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#69c8ea', endColorstr='#60c5ea',GradientType=0 );gid:DXImageTransform.Microsoft.gradient( startColorstr='#b7deed', endColorstr='#b7deed',GradientType=0 );
	color: #333;padding: 6px 10px;border-radius: 5px;font-weight: bold;text-shadow: 1px 1px 1px #fff;
}

.bt,.bn{display:inline-block;cursor:pointer;}

.bt {
	backgbackground: #f6f8f9;
	background: -moz-linear-gradient(top, #f6f8f9 0%, #e5ebee 50%, #d7dee3 51%, #f5f7f9 100%);
	background: -webkit-linear-gradient(top, #f6f8f9 0%,#e5ebee 50%,#d7dee3 51%,#f5f7f9 100%);
	background: -o-linear-gradient(top, #f6f8f9 0%,#e5ebee 50%,#d7dee3 51%,#f5f7f9 100%);
	background: -ms-linear-gradient(top, #f6f8f9 0%,#e5ebee 50%,#d7dee3 51%,#f5f7f9 100%);
	color: #333;padding: 6px 10px;border-radius: 5px;font-weight: bold;text-shadow: 1px 1px 1px #fff;border-top:2px solid rgba(255, 255, 255, .8);border-bottom:2px solid rgba(0, 0, 0, .4);margin:0 1px;}
.bt:hover {text-decoration:none;/*box-shadow:0 0 5px #000;*/}

.btn {text-indent:-9999em;border:0;height:24px;width:24px;cursor:pointer;display:block;background:url(../img/ico.png) no-repeat -999em -999em;}

.bts {margin:10px 0;}

.add-event .bt:before {content:'+';font-weight:bold;margin-right:5px;}
.my-local {padding:3px 2px 3px 4px;border:1px solid #888;background:#fff;float:left;border-radius:3px;margin-right:5px;box-shadow:1px 1px 3px #888;}
.my-local:hover {box-shadow:0 0 5px #000;}
.my-local .btn {background-position:0 -250px}

/*temp*/
#page {min-width:320px}
#page,.content-area {position:relative;}
.header {overflow:hidden;border-bottom:3px solid #ddd;height:52px;}
#header {height:55px;box-shadow:0 1px 10px rgba(0,0,0,.3);z-index:9;position:relative;border-bottom:1px solid #aaa;
background: #e2e2e2;
background: -moz-linear-gradient(top, #e2e2e2 0%, #dbdbdb 50%, #d1d1d1 51%, #fefefe 100%);
background: -webkit-linear-gradient(top, #e2e2e2 0%,#dbdbdb 50%,#d1d1d1 51%,#fefefe 100%);
background: -o-linear-gradient(top, #e2e2e2 0%,#dbdbdb 50%,#d1d1d1 51%,#fefefe 100%);
background: -ms-linear-gradient(top, #e2e2e2 0%,#dbdbdb 50%,#d1d1d1 51%,#fefefe 100%);
background: linear-gradient(to bottom, #e2e2e2 0%,#dbdbdb 50%,#d1d1d1 51%,#fefefe 100%);
}
.footer {overflow:hidden;border-top:3px solid #ddd;height:19px;}
#footer {padding:10px;box-shadow:0 -1px 10px rgba(0,0,0,.3);z-index:9;position:fixed;border-top:1px solid #aaa;bottom:0;width:100%;z-index:100;padding:0;
background: #e2e2e2;
background: -moz-linear-gradient(top, #e2e2e2 0%, #dbdbdb 50%, #d1d1d1 51%, #fefefe 100%);
background: -webkit-linear-gradient(top, #e2e2e2 0%,#dbdbdb 50%,#d1d1d1 51%,#fefefe 100%);
background: -o-linear-gradient(top, #e2e2e2 0%,#dbdbdb 50%,#d1d1d1 51%,#fefefe 100%);
background: -ms-linear-gradient(top, #e2e2e2 0%,#dbdbdb 50%,#d1d1d1 51%,#fefefe 100%);
background: linear-gradient(to bottom, #e2e2e2 0%,#dbdbdb 50%,#d1d1d1 51%,#fefefe 100%);
}
h1.logo {float:left;text-indent: -999em;background: url(../img/logo.png) no-repeat 0 0;width:210px;height:45px;margin:4px 10px;}
.header .help {float:right;margin:17px 10px;}
.header .help .btn{background-position:0 -300px;}
.header .help .btn:hover {border-radius:5px;box-shadow:1px 1px;}

#toasterPlace {position:relative;}

/*search*/
.search-area {position:absolute;top:8px;right:44px;left:230px;z-index:10;}
.search-area .btn {background-position:0 0;position:absolute;right:5px;top:6px;}
.search-area fieldset {background:#fff;border:1px solid #aaa;border-radius:3px;padding-right:35px;position:relative;padding-bottom:1px;height:34px;}
.searchKey {width:99%;border:0;height: 33px;padding: 0;line-height: 30px;text-indent: 10px;}
.search-area .lbl {display:none;}

/*infobar*/
.infobar {position:absolute;width:100%;bottom:0;z-index:10;background:rgba(0,0,0,.9);display:none;color:#999;}
/*.infobar > div {padding:5px 20px;}*/
.infobar .local-data {padding:5px 10px 5px;}
.infobar .event-action{text-align:right;margin:0;padding:5px 20px;}
/*local-data*/
.local-data .tit {color:#fff;font-weight:bold;font-size:1.333em;margin-bottom:15px;padding-right:20px;}
.local-data .adr {margin:15px 0;}
.local-data address {font-style:normal;}
.local-data address .city {display:block;}
/*actions*/
.actions {position:absolute;top:10px;right:10px}
.actions .bt {height:30px;line-height:32px;
	background: #ffb76b;
	background: -moz-linear-gradient(top, #ffb76b 0%, #ffa73d 50%, #ff7c00 51%, #ff7f04 100%);
	background: -webkit-linear-gradient(top, #ffb76b 0%,#ffa73d 50%,#ff7c00 51%,#ff7f04 100%);
	background: -o-linear-gradient(top, #ffb76b 0%,#ffa73d 50%,#ff7c00 51%,#ff7f04 100%);
	background: -ms-linear-gradient(top, #ffb76b 0%,#ffa73d 50%,#ff7c00 51%,#ff7f04 100%);
	background: linear-gradient(to bottom, #ffb76b 0%,#ffa73d 50%,#ff7c00 51%,#ff7f04 100%);
	color: #000;padding:6px 10px;border-radius: 5px;font-weight: bold;text-shadow: 1px 1px 1px #f2f2f2;
}
.actions .show-event .bt {height:auto;line-height:1.4;}
/*event*/
.event {overflow:hidden;padding:10px 10px 0 50px;}
.ev-list {border:1px solid #333;background:rgba(34,34,34,.9);margin:10px 0;}
.ev-list .tit {padding:0 0 5px;color:#fff;margin:10px 10px 0;border-bottom:1px solid #333;}
.event-data {padding:5px 20px;}
.event-data .vs1,.event-data .vs2 {display:block;width:30%;}
.event-data .score {width:40%;margin:0 10px;text-align:center;float:left;white-space:nowrap;font-size:3em;color:#fff;font-weight:bold;}
.event-data .vs1 {float:left;margin-left:-40px;margin-right:10px;}
.event-data .vs2 {float:right;text-align:right;}
.event-data .name {display:block;margin-top:5px;color:#fff;}
.event-data .score .vs {color:#888;}
.event-data .countdown {margin:5px 0;}
.event-info .lbl-td {color:#ccc;}

/*flags*/
.event .flag > span{overflow:hidden;display:inline-block;width:72px;height:0;padding-top:50px;background:url(../img/flags-cdc2013.png) no-repeat 0 -999em;}
.event .flag .bra {background-position:0 0;}
.event .flag .jap {background-position:0 -100px;}
.event .flag .esp {background-position:0 -200px;}
.event .flag .nig {background-position:0 -300px;}
.event .flag .uru {background-position:0 -400px;}
.event .flag .ita {background-position:0 -500px;}
.event .flag .mex {background-position:0 -600px;}
.event .flag .tai {background-position:0 -700px;}
.event-list .flag > span {overflow:hidden;height:0;display:inline-block;background:url(../img/flags-cdc2013.png) no-repeat 0 -999em;width:48px;padding-top:33px;}
.event-list .flag .bra {background-position:-100px 0;}
.event-list .flag .jap {background-position:-100px -100px;}
.event-list .flag .esp {background-position:-100px -200px;}
.event-list .flag .nig {background-position:-100px -300px;}
.event-list .flag .uru {background-position:-100px -400px;}
.event-list .flag .ita {background-position:-100px -500px;}
.event-list .flag .mex {background-position:-100px -600px;}
.event-list .flag .tai {background-position:-100px -700px;}

/*show-location*/
.show-location #content,.associate-event #content,.register-pub {padding:20px;}
.show-location h1.tit, .associate-event h1.tit,.register-pub h1.tit {background:#222;color:#fff;padding:10px;font-size:2em;}
.show-location .local-data {overflow:hidden;}
.show-location .description {/*margin:20px 0;*/font-size:1.166em;}
.show-location .event-head {overflow:hidden;margin:20px 0 10px;}
.show-location .event-head .tit {float:left;padding-top:10px;font-size:1.5em;color:#000;font-weight:bold;}
.show-location .event-head .add-event {float:right;}
.show-location .event-list {background:#f1f1f1;border:0;border-radius:3px;}
.it-el-sl {position:relative;overflow:hidden;padding:5px 0;border-top:1px solid #ccc;}
.it-el-sl:first-child {border:0;}
.it-el-sl .vs1 {float:left;}
.it-el-sl .vs2 {float:right;text-align:right;}
.it-el-sl .name {display:block;}

/*create*/
.skip, .nav {display:none;}
.associate-event .stit {padding-top:10px;margin-bottom:10px;font-size:1.5em;color:#000;font-weight:bold;}
.associate-event .event-list {border:1px solid #ccc;background:#fff;border-radius:3px;padding:10px;margin:10px 0;}

/*register pub*/
.reg-pub {margin:20px 0;}
.reg-pub .control-group {padding:5px 0;display:inline-block;}
.reg-pub .control-group:first-child {margin-right:10px;}
.reg-pub .control-group:nth-child(3) {display:block;}
.reg-pub .control-group input {width:140px;}
.reg-pub .control-group:nth-child(3) input {width:305px;}
.reg-pub .tit {display:block;margin:10px 0 5px;color:#000;}
.lst-el-rp {margin:10px 0 10px;}
.it-el-rp {padding:5px 10px;border:1px solid #ccc;border-radius:5px;margin-bottom:5px;}
.it-el-rp:hover {background:#f1f1f1;}
.it-el-rp input {margin-right:10px;}

/*other*/
 #close,.bt-close{position:absolute;top:10px;right:10px;text-indent:-999em;cursor:pointer;display:inline-block;background:url(../img/temp-close.png) no-repeat -2px -2px;z-index:10;height:20px;width:20px;}

/*search result*/
.search-category-pubcup {background-color: lightyellow;padding-left: 10px;font-weight: bold;border-color: darkgoldenrod;border-width: 1px;border-style: groove;border-radius: 5px;}
.search-category-google {background-color:lightskyblue;padding-left: 10px;font-weight: bold;border-color: darkslateblue;border-width: 1px;border-style: groove;border-radius: 5px;}
li a {-webkit-transition: padding .2s;-moz-transition: padding .2s;-o-transition: padding .2s;transition: padding .2s;}
.ui-state-focus {padding-left: 25px !important;}

/*helper*/
.helper-page {position:absolute;z-index:999;top:55px;left:0;background-color:#fff;width:100%;display:none;}
#close-helper {font-weight:bold;position:absolute;top:10px;right:30px;font-size:1.4em;cursor:pointer;}
.logo-big {margin:0px auto;width:311px;height:267px;text-indent:-999em;display:block;background: url(../img/logo-big.png) no-repeat 0 0;}
.helper-page hr {color:#ccc;width:80%;margin-bottom:20px;}
.helper-page p {width:80%;margin:0px auto;font-size:14px;}



/*responsive*/
@media (min-width: 769px) { 
.infobar {position:absolute;height:100%;width:400px;left:0;z-index:10;background:rgba(0,0,0,.8);}
h1.logo {float:left;text-indent: -999em;background: url(../img/logo.png) no-repeat 0 0;margin:5px 10px;width:210px;height:45px;}
.search-area {position:absolute;top:10px;right:44px;left:230px;z-index:10;}
.infobar .local-data {padding:10px 20px}
.infobar .event-data {padding:5px 10px;}
.event-data .countdown {margin:5px 10px;}
}
@media (max-width: 768px) { 
.infobar {position:absolute;width:100%;height:auto;bottom:0;z-index:10;background:rgba(0,0,0,.8);}
.infobar .event-list {display:none;}
h1.logo {display:block;text-indent: -999em;background: url(../img/logo.png) no-repeat 0 0;margin:5px 10px;width:50px;height:45px;}
.search-area {position:absolute;top:10px;right:44px;left:70px;z-index:10;}
.home .local-data address .city {display:inline;}
.home .local-data address .city:after {content:' / ';}
.home .local-data address .city:before {content:' / '}
.home .local-data .tit,.home .local-data .adr {display:inline-block;margin:0;vertical-align:baseline;}
.home .local-data .tit {margin-right:20px;margin-bottom:5px;}
.infobar .event-action {margin:0 0 5px;}
.event, .event-list {padding:10px 0 0 40px;}
.show-location .event-list {padding:10px 10px 0;}
}
@media (max-width: 600px) {
	.tx-footer {max-width:240px;line-height:1.2;position:relative;top:-5px;}
}

/*temp*/
.description {margin:20px 0 5px;}
p.tx-desc {background:#eee;padding:5px;border-radius:3px;}
#locationDescription {display:block;width:50%;}

.tx-footer {float:left;text-shadow:1px 1px 1px #fff}
.fb-footer {float:right;border:0;overflow:hidden;width:100px;height:21px;}

/*gamesList*/
#games-list {border-radius:3px;display:none;background:rgba(255,255,255,.9);border:1px solid #ccc;min-height:70px;max-height:160px;overflow:auto;position:absolute;right:0;top:120%;width:250px;box-shadow:1px 1px 5px rgba(0,0,0,.3);}
#games-list .lst-games {padding:10px 40px 10px 10px;}
.it-gl {padding:5px 0;border-top:1px solid #ccc;}
.it-gl:first-child {border:0;}
.it-gl:hover {background:#f1f1f1;}


.event-list {overflow:auto;padding:10px 10px 0;max-height:200px;position:relative;}
.event-list li{}
.event-list li:after {content:'';display:block;clear:both;margin-bottom:5px;}

.event-list .vs1,.event-list .vs2 {margin:0;width:100px;}
.event-list .score {position:absolute;top:30%;width:50px;left:50%;margin-left:-25px;}


.it-evl {border-top:1px solid #444;position:relative;padding:10px 0 0;}
.it-evl:first-child {border:0;padding-top:0;}

.event-date-hour {display:block;position:absolute;top:10px;left:50%;margin-left:-60px;width:120px;color:#ccc;text-align:center;}

